# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
timefold-env-312/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log
logs/

# Database
*.db
*.sqlite

# Environment variables
.env

# Backup files
*.backup